{% load static %}
{% static 'images' as baseUrl %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{book.BookName}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/5a485982fd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(34,34,34);">
        <div class="container"><a class="navbar-brand" href="#" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><span class="sr-only" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Toggle navigation</span><span class="navbar-toggler-icon" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">
                <ul class="navbar-nav ml-auto" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link active" href="/" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><i class="fas fa-home"></i> Home</a></li>
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link" href="#" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><i class="fas fa-shopping-cart"></i> My Cart</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;" href=sellBooks><i class="fas fa-book"></i> Sell Books</a></li>

                    <div class="dropdown">
                        <p class="user-login" style="margin: 10px;"><i class="fas fa-user"></i> {{user.name}}</a>
                        <div class="dropdown-content">
                            <a href="/myBooks">My Books</a>
                            <a href="#">My Orders</a>
                            <a href="logout">Log Out</a>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link" href="/login" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Login or Register</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center" style="padding: 25px;"><img src="{{book.image.url}}" style="height: 434px;width: 500px; object-fit: contain;" ></div>
            <div class="col-md-6" style="padding: 49px;text-align: left;">
                {% if book.new == True %}
                <img src="{% static 'images/ZUiY.gif' %}" height="50px" width="50px">New
                {% endif %}
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Book title: {{book.BookName}}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Price: Rs.{{book.price}}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Language: {{ book.language|title }}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Author: {{book.author}}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Condition: {{book.condition|title}}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 25px;font-weight: 100;">Publisher: {{book.publisher|title}}</p>
                <p style="font-family: Montserrat, sans-serif;font-size: 18px;font-weight: 100;">Original Purchase Date: {{book.purchasedate}}</p>
                {% if book.id in cart %}
                <div class="row" style="text-align: center; padding-top: 25px;">
                   <a href="/removecart/{{book.id}}"> <button class="btn btn-danger">Remove from Cart</button> </a>
                </div>
                {% else %}
                <div class="row" style="text-align: center; padding-top: 25px;">
                    <button class="btn btn-primary">Add to Cart</button>
            </div>
            {% endif %}
                <div class="lower" style="padding-top: 25px;">
                    <h2 style="margin: 13px;font-family: Montserrat, sans-serif;font-weight: bold;">Description</h2>
                    <p style="margin: 16px;font-family: Montserrat, sans-serif">{{book.description}}</p>
                    <h2 style="margin: 13px;font-family: Montserrat, sans-serif;font-weight: bold;">Audio Review</h2>
                    <p style="margin: 16px;font-family: Montserrat, sans-serif">
                    
                        </p>
                    <audio controls>
                  {% comment %} <source src=media/{{book.audio}} type="audio/caf" > {% endcomment %}
                  <source src=media/{{book.audio}} type="audio/mpeg" >
                  {% comment %} <source src="myAudio.ogg" type="audio/ogg"> {% endcomment %}
                  
                </audio>
                </div>
               


            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>