{% load static %} 
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Books</title>
    <!--Adding Links  -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/navbar.css' %}">
    <script src="https://kit.fontawesome.com/5a485982fd.js" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row row1">
            <div class="col-5">
                <h1 class="logo">
                    <a href="#">
                        Logo
                    </a>
                </h1>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <div class="search_wrap search_wrap_4">
                    <div class="search_box">
                        <div class="btn btn_common">
                            <i class="fas fa-search"></i>
                        </div>

                        <input type="text" class="input" placeholder="Search...">

                    </div>
                </div>
            </div>
            <div class="col-2">
                <a class="user" href="#">
                    <i class="fas fa-user"></i>
                    Login/Register
                </a>
            </div>
        </div>

        <div class="row row2">
            <nav class="navbar navbar-expand-md">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <a class="ai" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">View Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sell_books.html">Sell Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My Orders</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--slider 1 bags------------------------------------------>
    <div class="heading">
        <h1>P R O D U C T &emsp; S L I D E R &emsp; 1 </h1>
    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->
            {% if  not books %}
            <!-- Isko sundar kardo bas. -->
            <h1 style="text-align: center;">No books to display as of now</h1>
            {% else %}
            <p>{{books}}</p>
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="{% static 'images/images.jpeg' %}">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--swiper  slider end-->

    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>