<!--doctype html-->
{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product-slider</title>
    <!--Adding Links  -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <!--slider 1 bags------------------------------------------>
    <div class="heading">
        <h1>P R O D U C T &emsp; S L I D E R &emsp; 1 </h1>
    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>



            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-2.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>

            




            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-3.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 4-------------------------------------->




            <!--slide 5-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-5.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>

            <!--slide 6-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>

            <!--slide 1-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-2.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 2-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-3.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 3-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-4.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>




            <!--slide 4-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="{% static 'images/images-5.jpeg' %}">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>

            </div>



            <!--slide 5-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>

            <!--slide 6-------------------------------------->
            <div class="swiper-slide">
                <div class="slider-box">
                    <p class="time">New</p>
                    <div class="img-box">
                        <img src="../assets/images/images-2.jpeg">
                    </div>
                    <p class="detail">Book Name
                        <a href="#" class="price">Price-40$</a>
                    </p>
                    <div class="cart">
                        <a href="#">Add To Cart</a>
                    </div>
                </div>
            </div>


        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--swiper  slider end-->

    <script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>