{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>capstoneproject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/5a485982fd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(34,34,34);">
        <div class="container"><a class="navbar-brand" href="/" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Company Name</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><span class="sr-only" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Toggle navigation</span><span class="navbar-toggler-icon" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">
                <ul class="navbar-nav ml-auto" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link active" href="/" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><i class="fas fa-home"></i> Home</a></li>
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link" href="#" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><i class="fas fa-shopping-cart"></i> My Cart</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;" href=sellBooks><i class="fas fa-book"></i> Sell Books</a></li>
                    <div class="dropdown">
                        <p class="user-login" style="margin: 10px;"><i class="fas fa-user"></i> {{user.name}}</a>
                        <div class="dropdown-content">
                            <a href="/myBooks">My Books</a>
                            <a href="#">My Orders</a>
                            <a href="logout">Log Out</a>
                        </div>
                    </div>
                    {% else %}
                    <li class="nav-item" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;"><a class="nav-link" href="/login" style="color: #ffffff;font-family: Montserrat, sans-serif;font-weight: bold;font-style: normal;font-size: 18px;">Login or Register</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1 style="font-family: Montserrat, sans-serif;margin-top: 28px;">My Orders</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 27px;">
            <div class="col-md-12" style="border: 1px solid rgba(0,0,0,0.22);border-radius: 20px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Number</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Book Title</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Author</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Publication</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Upload Date</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Image</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">Status</th>
                                <th style="text-align: center;font-family: Montserrat, sans-serif;font-weight: bold;font-style: italic;">More Info</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                            <tr>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">{{book.id}}</td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">{{book.BookName}}</td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">{{book.author}}</td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">{{book.publisher}}</td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">{{book.purchasedate}}</td>
                                <td style="text-align: center;"><img src="{{book.image.url}}" style="font-family: Montserrat, sans-serif;"></td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;">Status todo</td>
                                <td style="text-align: center;font-family: Montserrat, sans-serif;"><a href="/viewBook?id={{book.id}}"><button class="btn btn-primary">MoreInfo</button></a></td>


                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>