
{% load static %}
{% static 'images' as baseUrl %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/sell_books.css' %}">
    <script src="https://kit.fontawesome.com/5a485982fd.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row row1">
            <div class="col-5">
                <h1 class="logo">
                    <a href="#">
                        Logo 
                    </a>
                </h1>
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <div class="search_wrap search_wrap_4">
                    <div class="search_box">
                        <div class="btn btn_common">
                            <i class="fas fa-search"></i>
                        </div>
                        <input required type="text" class="input" placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <a class="user" href="#">
                    <i class="fas fa-user"></i>
                    Login/Register
                </a>
            </div>
        </div>

        <div class="row row2">
            <nav class="navbar navbar-expand-md" style="align-items: center;">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <a class="ai" href="#">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">View Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Sell Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">My Orders</a>
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/books.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-center main_heading">Sell Books</h4>
                    <form action="">
                        <div class="row">
                            <div class="col-md">
                                <label for="aname">Author Name</label>
                                <input required type="text" id="aname" name="authorname" placeholder="Enter Author Name" >
                            </div>
                            <div class="col-md">
                                <label for="bname">Book Name</label>
                                <input required type="text" id="bname" name="bookname" placeholder="Enter Book Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="blang">Book Language</label>
                                <select required id="blang" name="blang">
                                    <option value="" disabled selected>Select Language</option>
                                    <option value="english">English</option>
                                    <option value="hindi">Hindi</option>
                                    <option value="urdu">Urdu</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <label for="category">Category</label>
                                <select required id="category" name="category">
                                    <option value="" disabled selected>Select Category</option>
                                    <option value="comic">Comic</option>
                                    <option value="novel">Novel</option>
                                    <option value="ncert">NCERT</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="pdate">Purchased Date</label>
                                <input required type="date" id="pdate" name="date">
                            </div>
                            <div class="col-md">
                                <label for="price">Price in <i class="fas fa-rupee-sign"></i></label>
                                <input required type="text" id="price" name="price"
                                    placeholder="Enter Price on which you like to sell">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <label for="img" style="margin-bottom: 15px;">Upload Book Image:</label><br>
                                <input required type="file" id="img" name="img" accept="image/*">
                            </div>
                            <div class="col-md">
                                <label for="bdis">Book Condition</label>
                                <select required id="bdis" name="bdis">
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="vgood">Very Good</option>
                                    <option value="good">Good</option>
                                    <option value="bad">Bad</option>
                                    <option value="poor">Poor</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="bdisdet">Book Discription</label>
                                <textarea id="bdisdet" name="bdisdet" placeholder="Book Physical Condition in Details .."
                                    style="height:200px"></textarea>
                            </div>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>